*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(26, 17, 104);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.774);
    padding: 1rem 2rem;
    background-color: #ddbb22;
    color: rgba(0, 0, 0, 0.63);
    margin-bottom: 1rem;
    border-radius: 2rem;
    text-transform: capitalize;
}
.btn{
    margin: auto;
    line-height: 1rem;
    border: none;
    outline: none;
    background-color: #bb481a;
    color: #fff;
    padding: 1rem 1.3rem;
    font-size: 1.2rem;
    cursor: pointer;
    
}
.btn:hover{
    background-color: #722b0f;;
    color: #fff;
}